<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/style/style.css" />
        <title>BlogIt</title>
    </head>
    <body>
        <header class="c-header o-position-fixed o-horizontal-list">
            <a href="/">
                <h1 class="c-header__logo">BlogIt</h1>
            </a>
            <div class="o-horizontal-list o-horizontal-list--centered">
                <p class="c-header__paragraph">Welcome to BlogIt</p>
                <!-- TODO This gonna lead to the profile page -->
                <a class="c-header__link" href="#">User</a>
            </div>
        </header>
        <main class="c-main o-page-wrapper">
            <a class="c-button-like c-button-like--primary" href="#"
                >Add new post</a
            >
            <a href="#">
                <article class="c-post">
                    <div class="o-position-wrapper">
                        <h3 class="c-post__title">Post title</h3>
                        <p class="c-post__date">01.01.1010</p>
                    </div>
                    <p class="c-post__content">Post text</p>
                </article>
            </a>
            <a href="#">
                <article class="c-post">
                    <div class="o-position-wrapper">
                        <h3 class="c-post__title">Post title</h3>
                        <p class="c-post__date">01.01.1010</p>
                    </div>
                    <p class="c-post__content">Post text</p>
                </article>
            </a>
            <a href="#">
                <article class="c-post">
                    <div class="o-position-wrapper">
                        <h3 class="c-post__title">Post title</h3>
                        <p class="c-post__date">01.01.1010</p>
                    </div>
                    <p class="c-post__content">Post text</p>
                </article>
            </a>
        </main>
    </body>
</html>
