<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/style/style.css" />
        <title>Create post</title>
    </head>
    <body>
        <header class="c-header o-position-fixed o-horizontal-list">
            <a href="/">
                <h1 class="c-header__logo">BlogIt</h1>
            </a>
            <div class="o-horizontal-list o-horizontal-list--centered">
                <p class="c-header__paragraph">Welcome to BlogIt</p>
                <a class="c-header__link" href="#">User</a>
            </div>
        </header>
        <main class="c-main o-page-wrapper">
            <form action="/user/login" method="POST">
                <div class="o-vertical-list o-vertical-list--centered">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        class="c-input c-input--transparent c-input--purple"
                        placeholder="Username"
                        name="username"
                        value=""
                    />
                </div>
                <div class="o-vertical-list o-vertical-list--centered">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="c-input c-input--transparent c-input--purple"
                        placeholder="Password"
                        name="password"
                        value=""
                    />
                </div>
                <div class="o-vertical-list o-vertical-list--centered">
                    <label for="repassword">Re-Password</label>
                    <input
                        type="password"
                        class="c-input c-input--transparent c-input--purple"
                        placeholder="Re-Password"
                        name="repassword"
                        value=""
                    />
                </div>

                <button type="submit" class="c-button c-button--primary">
                    Register
                </button>
            </form>
        </main>
    </body>
</html>
