<form action="/user/login/" method="POST">
    <div class="o-vertical-list o-vertical-list--centered">
        <label for="username">Username</label>
        <input type="text" class="c-input c-input--transparent c-input--purple" placeholder="Username" name="username"
            value="" />
    </div>
    <div class="o-vertical-list o-vertical-list--centered">
        <label for="password">Password</label>
        <input type="password" class="c-input c-input--transparent c-input--purple" placeholder="Password"
            name="password" value="" />
    </div>
    <div class="o-vertical-list o-vertical-list--centered">
        <label for="repassword">Re-Password</label>
        <input type="password" class="c-input c-input--transparent c-input--purple" placeholder="Re-Password"
            name="repassword" value="" />
    </div>

    <button type="submit" class="c-button c-button--primary">
        Register
    </button>
</form>