$white: #ffffff;

$grey-200: #e6e6e6;
$grey-300: #d6d6d6;
$grey-400: #b2b2b2;
$grey-500: #919191;
$grey-700: #565656;

$primary-700: #455a64;
$primary-800: #37474f;
$primary-900: #263238;

$secondary-300: #de6ea1;
$secondary-600: #d81b60;
$secondary-700: #c51162;
$secondary-800: #ad1457;
$secondary-900: #9f2b67;

$blue-comment: rgba(0, 188, 212, 0.25);
$blue-800: #00838f;
