$white: #ffffff;

$grey-200: #e6e6e6;
$grey-300: #d6d6d6;
$grey-400: #b2b2b2;
$grey-500: #919191;
$grey-700: #565656;

$primary-700: #455a64;
$primary-800: #37474f;
$primary-900: #263238;

$secondary-300: #9570dd;
$secondary-500: #7c40a9;
$secondary-700: #730c99;
$secondary-800: #693699;
$secondary-900: #502989;

$pink-300: #de6ea1;
$pink-800: #9f2b67;
