//* Transition mixins
@mixin fade-in-transition-color($color) {
    transition: color 0.3s ease-out;

    &:hover {
        color: $color;
    }
}

@mixin fade-in-transition-bg-color($color) {
    transition: background-color 0.3s ease-out;

    &:hover {
        background-color: $color;
    }
}

@mixin fade-in-transition-border-color($color) {
    transition: border-color 0.2s ease-out;

    &:hover {
        border-color: $color;
    }
}

//* Font mixins
@mixin font-small-paragraph {
    font-size: 14px;
    line-height: 16px;
}
