$white: #ffffff;

$grey-200: #e6e6e6;
$grey-300: #d6d6d6;
$grey-400: #b2b2b2;
$grey-500: #919191;
// $grey-700: #565656;

$primary-900: #263238;

$secondary-300: #9570DD;
$secondary-500: #7C40A9;
$secondary-700: #730C99;
$secondary-800: #693699;
$secondary-900: #502989;

$pink-300:#DE6EA1;
$pink-800:#9F2B67;