.c-input {
    margin: $padding-small 0;
    padding: 16px;
    width: 100%;

    border-radius: 10px;

    &--transparent {
        box-shadow: none;
        background-color: transparent;
    }

    &--purple {
        border: 1px solid $secondary-900;
        color: $white;

        &::placeholder {
            color: $grey-300;
        }
    }

    &--light {
        border: 1px solid $secondary-300;
        color: $white;

        &::placeholder {
            color: $white;
        }
    }

    &--post {
        resize: none;
        height: 100%;
        min-height: 250px;
        width: 100%;
    }

    &--comment {
        resize: none;
        height: 100%;
        min-height: 150px;
        width: 100%;
    }
}
