.o-position-wrapper {
    position: relative;
}

.o-position-fixed {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.o-page-wrapper {
    margin: 0 75px;
}

.o-horizontal-list {
    display: flex;
    flex-direction: row;

    &--centered {
        justify-content: center;
        align-items: center;
    }
}

.o-vertical-list {
    display: flex;
    flex-direction: column;

    &--centered {
        justify-content: center;
        align-items: center;
    }
}

.o-grid-2cols {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: baseline;
    grid-column-gap: 50px;
}
