@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ruda:wght@500&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 36px;
}

label {
  font-size: 24px;
}

a,
p,
span,
button {
  font-family: "Ruda", sans-serif;
  color: #ffffff;
}

a,
p {
  font-size: 16px;
  line-height: 125%;
}

button {
  font-size: 14px;
  font-weight: bold;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

p {
  margin: 24px 0;
}

body {
  background-color: #263238;
}

.o-position-wrapper {
  position: relative;
}

.o-position-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.o-page-wrapper {
  margin: 0 75px;
}

.o-horizontal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.o-horizontal-list--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-vertical-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.o-vertical-list--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-grid-2cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  grid-column-gap: 50px;
}

.c-button {
  margin-bottom: 24px;
  padding: 14px 32px;
  border-radius: 100px;
  text-transform: uppercase;
}

.c-button--primary {
  border: none;
  background-color: #c51162;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.c-button--primary:hover {
  background-color: #9f2b67;
}

.c-button-like {
  display: inline-block;
  margin-bottom: 24px;
  padding: 14px 32px;
  border-radius: 100px;
  text-transform: uppercase;
}

.c-button-like--primary {
  border: none;
  background-color: #c51162;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.c-button-like--primary:hover {
  background-color: #9f2b67;
}

.c-button-like--secondary {
  border: #ad1457;
}

.c-btn-reaction {
  margin: 5px;
  padding: 7px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  font-size: 24px;
  color: #ffffff;
}

.c-btn-reaction--comment {
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}

.c-btn-reaction--comment:hover {
  color: #00838f;
}

.c-btn-reaction--comment:hover {
  background-color: rgba(0, 188, 212, 0.25);
}

.c-btn-reaction--comment:hover {
  border-color: #00838f;
}

.c-input {
  margin: 12px 0;
  padding: 16px;
  width: 100%;
  border-radius: 10px;
}

.c-input--transparent {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.c-input--purple {
  border: 1px solid #9f2b67;
  color: #ffffff;
}

.c-input--purple::-webkit-input-placeholder {
  color: #d6d6d6;
}

.c-input--purple:-ms-input-placeholder {
  color: #d6d6d6;
}

.c-input--purple::-ms-input-placeholder {
  color: #d6d6d6;
}

.c-input--purple::placeholder {
  color: #d6d6d6;
}

.c-input--light {
  border: 1px solid #de6ea1;
  color: #ffffff;
}

.c-input--light::-webkit-input-placeholder {
  color: #ffffff;
}

.c-input--light:-ms-input-placeholder {
  color: #ffffff;
}

.c-input--light::-ms-input-placeholder {
  color: #ffffff;
}

.c-input--light::placeholder {
  color: #ffffff;
}

.c-input--post {
  resize: none;
  height: 100%;
  min-height: 250px;
  width: 100%;
}

.c-input--comment {
  resize: none;
  height: 100%;
  min-height: 150px;
  width: 100%;
}

.c-page-separator {
  width: 100%;
  height: 3px;
}

.c-page-separator--profile {
  background-color: #9f2b67;
}

.c-avatar {
  padding: 14px;
  border: 3px solid #d81b60;
  border-radius: 25%;
  font-size: 32px;
  color: #d81b60;
}

.c-avatar__name {
  display: block;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #de6ea1;
}

.c-header {
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 15px solid #9f2b67;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #455a64;
}

.c-header__link {
  margin: 0 12px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d81b60;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.c-header__link:hover {
  color: #de6ea1;
}

.c-header__logo {
  margin-left: 15px;
}

.c-post {
  padding: 32px;
  padding-left: 64px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom: 3px solid #565656;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #37474f;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.c-post:hover {
  background-color: #455a64;
}

.c-post--details {
  border-radius: 12px;
  border: 1px solid #9f2b67;
  background-color: transparent;
  -webkit-transition: none !important;
  transition: none !important;
}

.c-post--details:hover {
  background-color: transparent;
}

.c-post__title {
  display: inline;
  color: #c51162;
}

.c-post__content {
  color: #d6d6d6;
}

.c-post__date {
  display: inline;
  margin: 0;
  position: absolute;
  right: -15px;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.c-post__author {
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 0px;
  font-size: 14px;
  line-height: 16px;
  color: #d6d6d6;
}

.c-main {
  margin-top: 24px;
}

.c-comment {
  margin-bottom: 4px;
  padding: 24px;
  padding-left: 64px;
  border: 1px solid #37474f;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
  background-color: #455a64;
}

.c-comment__author {
  display: inline;
  color: #c51162;
}

.c-comment__date {
  display: inline;
  margin: 0;
  position: absolute;
  right: -15px;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.c-comment__content {
  color: #d6d6d6;
}
