.c-avatar {
    padding: 14px;
    border: 3px solid $secondary-600;
    border-radius: 25%;

    font-size: 32px;
    color: $secondary-600;

    &__name {
        display: block;

        font-family: Montserrat;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;

        color: $secondary-300;
    }
}
