.c-button {
    margin-bottom: $padding-default;
    padding: 14px $padding-secondary;
    border-radius: 100px;
    text-transform: uppercase;

    &--primary {
        border: none;
        background-color: $secondary-700;

        @include fade-in-transition-bg-color($secondary-900);
    }

    // &--secondary {}
}
